output Output/testglob
verbose 1
thread 7
stellar-synthesis 0
timestep 0.01
duration 24
schmidt-factor 2.2
cool 1
rings 100
radius 20.0
M2 80
M1 4
M0 0.1
b2 8
b1 0.3
mixing-strength 0.4
mixing-order 10
inflow-on 1
inflow-a 0.15
inflow-b 0.25
mass-resolution 800
mass-load 0.3
feedback-eject 0.7
sn1a-fraction 0.07
sn1a-delay 0.45
sn1a-long-decay 1.5
igm-mass 700
ecsn-fraction 0.01
nsm-fraction 0.00015
nsm-decay 0.3
schmidt-cut 0.004
nuclear-disk-flag 0
scale-length-min 1.5
scale-length-time 0.6
merger-mass 0
fh-sn1a 0.9900
fh-ccsn 0.6000
fh-nsm 0.8000
fh-agb 0.3500
eject 0.3000
